In [1]:

try:
    import json
except:
    %pip install json
    import json

try:
    import pandas as pd
except:
    %pip install pandas
    import pandas as pd

import os

try:
    from sortedcontainers import SortedDict
except:
    %pip install sortedcontainers
    from sortedcontainers import SortedDict

# Load data file - events_all.json

In [6]:
filepath = "api"
filename = "events_all.json"

with open(os.path.join(filepath, filename), 'r') as json_file:
    
    number_ex_by_year = {}

    data = json.load(json_file)
    for event in data.get("events"):

        start = event.get("start")
        year = start.split("-")[0]

        if year in number_ex_by_year:
            number_ex_by_year[year] += 1
        else:
            number_ex_by_year[year] = 1
        
    number_ex_by_year = SortedDict(number_ex_by_year)

   # print(number_ex_by_year)

# Keyword frequency in exhibition title - all organisations - Top 50

In [7]:
filepath = "api"
filename = "events_all.json"

with open(os.path.join(filepath, filename), 'r') as json_file:
    
    numbers = {}

    data = json.load(json_file)
    
    for event in data.get("events"):
        
        title = event.get("_label")
       
        keywords = title.split(" ")
        for keyword in keywords:
            if keyword in numbers:
                numbers[keyword] += 1
            else:
                numbers[keyword] = 1
    
    numbers = dict(sorted(numbers.items(), key=lambda item: item[1]))
    
        
    df = pd.DataFrame(numbers.items()).tail(50)
    df.columns=["Word", "Count"]
    display(df)

               Word  Count
6529           Work     37
6530       National     37
6531           John     38
6532             at     40
6533        Artists     45
6534         Robert     48
6535              a     51
6536  International     55
6537           Film     57
6538  Acquisitions:     58
6539         Studio     58
6540        Program     61
6541         Design     65
6542          Works     66
6543          (Fall     68
6544        (Spring     70
6545         Prints     71
6546   Contemporary     72
6547             to     74
6548     Selections     75
6549   Architecture     79
6550        Special     79
6551   Acquisitions     79
6552     Exhibition     79
6553        (Winter     83
6554         Museum     85
6555            for     88
6556       American     94
6557    Photographs     94
6558    Photography     95
6559          Video    102
6560       Painting    103
6561      Projects:    105
6562       Drawings    108
6563              A    132
6564      Paintings    137
6565         Modern    138
6566      Sculpture    141
6567         Recent    143
6568       Projects    176
6569            Art    181
6570     Collection    194
6571             in    201
6572            New    207
6573             by    253
6574           from    282
6575            The    334
6576             of    467
6577            the    539
6578            and    600

# Keyword frequency in exhibition title - non-MoMA - Top 50

In [4]:


filepath = "api"
filename = "events_nonmoma.json"

with open(os.path.join(filepath, filename), 'r') as json_file:
    
    numbers = {}

    data = json.load(json_file)
    
    for event in data.get("events"):
        
        title = event.get("_label")
       
        keywords = title.split(" ")
        for keyword in keywords:
            if keyword in numbers:
                numbers[keyword] += 1
            else:
                numbers[keyword] = 1
    
    numbers = dict(sorted(numbers.items(), key=lambda item: item[1]))
    
        
    df = pd.DataFrame(numbers.items()).tail(50)
    df.columns=["Word", "Count"]
    display(df)

            Word  Count
543    Goldberg,      4
544   Krushenick      4
545        Segal      4
546      Charles      5
547          Jim      5
548        James      5
549   Exhibition      5
550           di      5
551       Arnold      5
552   Wesselmann      5
553        Fine,      5
554       Müller      5
555      Groell,      5
556      Ortman,      5
557      William      5
558   Oldenburg:      6
559        Claes      6
560          Tom      6
561     Follett,      6
562          Jan      6
563         Lois      6
564     Hazelet,      6
565        Katz,      6
566      Rocklin      6
567   Beauchamp,      6
568      Cajori,      6
569       Geist,      7
570     Collages      7
571         Jean      7
572      Kaprow:      7
573           An      7
574  Pearlstein,      7
575     Isquith,      7
576           of      7
577        Allan      8
578          The      8
579        Works      8
580        Dodd,      9
581      Richard      9
582         Work      9
583    Ippolito,      9
584       George     11
585        Group     11
586       Robert     12
587         Show     12
588     Drawings     22
589    Sculpture     25
590          and     35
591           by     46
592    Paintings     75