# Import libraries and variables

In [17]:
import json
import pandas as pd
import os
from sortedcontainers import SortedDict

%store -r output_activity_dir
%store -r activity_all_file
%store -r output_events_nonmoma

common_english_words = ["a","able","about","across","after","all","almost","also","am","among","an","and","any","are","as","at","be","because","been","but","by","can","cannot","could","dear","did","do","does","either","else","ever","every","for","from","get","got","had","has","have","he","her","hers","him","his","how","however","i","if","in","into","is","it","its","just","least","let","like","likely","may","me","might","most","must","my","neither","no","nor","not","of","off","often","on","only","or","other","our","own","rather","said","say","says","she","should","since","so","some","than","that","the","their","them","then","there","these","they","this","tis","to","too","twas","us","wants","was","we","were","what","when","where","which","while","who","whom","why","will","with","would","yet","you","your"]

list_remove = [',', '!', '.', ':', '(', ')']

# Keyword frequency in exhibition title - all organisations - Top 50

In [23]:

numbers = {}

with open(os.path.join(output_activity_dir, activity_all_file), 'r') as json_file:
    
    data = json.load(json_file)
    # iterate over events
    for event in data.get("events"):
        
        # event label
        title = event.get("_label")
       
        keywords = title.split(" ")
        for keyword in keywords:
            keyword = ''.join(char for char in keyword if char not in list_remove)
            if keyword.lower() in common_english_words:
                continue
            if keyword in numbers:
                numbers[keyword] += 1
            else:
                numbers[keyword] = 1
    
    numbers = dict(sorted(numbers.items(), key=lambda item: item[1]))
    
    df = pd.DataFrame(numbers.items()).tail(50)
    df.columns=["Word", "Count"]
    display(df)

               Word  Count
5579        Service     31
5580        Matisse     31
5581          Sound     31
5582           MoMA     32
5583        Picasso     33
5584        Richard     35
5585          Young     36
5586       National     37
5587           Part     38
5588    Performance     38
5589           John     38
5590           York     38
5591        Posters     38
5592           Work     40
5593        Drawing     41
5594         Summer     41
5595           Show     41
5596        Artists     47
5597         Robert     48
5598  International     55
5599           Film     59
5600        Program     61
5601         Studio     64
5602          Works     69
5603         Design     70
5604           Fall     73
5605   Contemporary     74
5606     Selections     76
5607        Special     79
5608   Architecture     84
5609         Spring     84
5610         Winter     85
5611         Museum     87
5612         Prints     87
5613     Exhibition     94
5614       American     95
5615    Photographs    101
5616    Photography    106
5617          Video    111
5618       Painting    113
5619       Drawings    133
5620         Modern    142
5621         Recent    143
5622   Acquisitions    144
5623      Paintings    147
5624      Sculpture    156
5625            Art    205
5626            New    207
5627     Collection    226
5628       Projects    281

# Keyword frequency in exhibition title - non-MoMA - Top 50

In [24]:


numbers = {}

with open(os.path.join(output_activity_dir, output_events_nonmoma), 'r') as json_file:
 
    data = json.load(json_file)
    for event in data.get("events"):   
        title = event.get("_label")
       
        keywords = title.split(" ")
        for keyword in keywords:
            keyword = ''.join(char for char in keyword if char not in list_remove)
            if keyword.lower() in common_english_words:
                continue
            if keyword  in numbers:
                numbers[keyword] += 1
            else:
                numbers[keyword] = 1
    
    numbers = dict(sorted(numbers.items(), key=lambda item: item[1]))
    
        
    df = pd.DataFrame(numbers.items()).tail(50)
    df.columns=["Word", "Count"]
    display(df)

            Word  Count
436      Charles      5
437          Jim      5
438        James      5
439   Exhibition      5
440           di      5
441      Samaras      5
442      Pasilis      5
443      William      5
444       Arnold      6
445         Dine      6
446       Morris      6
447        Claes      6
448          Tom      6
449          Jan      6
450         Lois      6
451        Stout      6
452        Forst      6
453       Groell      6
454     Collages      7
455         Jean      7
456        Segal      7
457       Müller      7
458       Ortman      7
459       Cajori      8
460    Oldenburg      8
461   Wesselmann      8
462      Follett      8
463  Stankiewicz      8
464        Allan      8
465       Kaprow      8
466      Rocklin      8
467        Works      8
468         Fine      9
469      Richard      9
470      Isquith      9
471        Geist     10
472         Work     10
473   Pearlstein     10
474    Beauchamp     10
475       George     11
476     Ippolito     11
477      Hazelet     11
478        Group     11
479         Katz     11
480       Robert     12
481         Dodd     15
482         Show     17
483     Drawings     26
484    Sculpture     27
485    Paintings     79